html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

header,
nav,
section {
	display: block
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

svg:not(:root) {
	overflow: hidden
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff
}

a {
	color: #337ab7;
	text-decoration: none
}

a:focus,
a:hover {
	color: #23527c;
	text-decoration: underline
}

a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}

h2,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px
}

h6 {
	margin-top: 10px;
	margin-bottom: 10px
}

h2 {
	font-size: 30px
}

h6 {
	font-size: 12px
}

p {
	margin: 0 0 10px
}

ul {
	margin-top: 0;
	margin-bottom: 10px
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.col-lg-12,
.col-lg-2,
.col-lg-4,
.col-lg-6,
.col-lg-8 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

@media (min-width:1200px) {
	.col-lg-12,
	.col-lg-2,
	.col-lg-4,
	.col-lg-6,
	.col-lg-8 {
		float: left
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-8 {
		width: 66.66666667%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-4 {
		width: 33.33333333%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%
	}
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.nav>li {
	position: relative;
	display: block
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #eee
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent
}

@media (min-width:768px) {
	.navbar {
		border-radius: 4px
	}
}

.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030
}

@media (min-width:768px) {
	.navbar-fixed-top {
		border-radius: 0
	}
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px
}

.navbar-nav {
	margin: 7.5px -15px
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px
}

@media (min-width:768px) {
	.navbar-nav {
		float: left;
		margin: 0
	}
	.navbar-nav>li {
		float: left
	}
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px
	}
}

.navbar-inverse {
	background-color: #222;
	border-color: #080808
}

.navbar-inverse .navbar-nav>li>a {
	color: #9d9d9d
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #fff;
	background-color: transparent
}

.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
	display: table;
	content: " "
}

.container:after,
.nav:after,
.navbar:after,
.row:after {
	clear: both
}

html {
	color: #222
}

body {
	font-size: 1em;
	line-height: 1.4
}

::-moz-selection {
	background: #366fa5;
	color: #fff;
	text-shadow: none
}

::selection {
	background: #366fa5;
	color: #fff;
	text-shadow: none
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

body,
html {
	height: 100%
}

body {
	font-family: Lato;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch
}

hr {
	position: relative;
	border: none
}

hr:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 2px;
	background: #ccc
}

p {
	line-height: 28px;
	margin-bottom: 25px
}

a {
	color: #366fa5;
	word-wrap: break-word;
	-webkit-transition: color .1s ease-in, background .1s ease-in;
	-moz-transition: color .1s ease-in, background .1s ease-in;
	-ms-transition: color .1s ease-in, background .1s ease-in;
	-o-transition: color .1s ease-in, background .1s ease-in;
	transition: color .1s ease-in, background .1s ease-in
}

a:focus,
a:hover {
	color: #366fa5;
	text-decoration: none;
	outline: 0
}

a:after,
a:before {
	-webkit-transition: color .1s ease-in, background .1s ease-in;
	-moz-transition: color .1s ease-in, background .1s ease-in;
	-ms-transition: color .1s ease-in, background .1s ease-in;
	-o-transition: color .1s ease-in, background .1s ease-in;
	transition: color .1s ease-in, background .1s ease-in
}

.divider2 a {
	color: #fff
}

.divider2 ul {
	margin: 0;
	padding: 0;
	font-size: 1.5em
}

.divider2 ul li {
	list-style-type: none;
	display: inline;
	line-height: 28px;
	margin-bottom: 25px
}

.divider2 li:before {
	color: #fff;
	margin: 0 10px;
	content: " | "
}

.divider2 li:first-child:before {
	content: none
}

#kontakt {
	margin-bottom: 75px;
	padding-top: 40px
}

#kontakt p {
	margin-bottom: 0
}

#service h2 {
	margin-top: 70px
}

#service p {
	margin-bottom: 70px
}

header {
	margin-top: 50px;
	padding-top: 290px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

@media (min-width:768px) {
	header {
		margin-top: -50px;
	}
}

header.bgImage {
	background-image: url(/static/assets/backgrounds/bg1.jpg)
}

header p {
	color: #fff;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
	letter-spacing: 3px;
	margin-left: 15px;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 0
}

#greywrap {
	background: #f5f5f5;
	margin-top: 0;
	padding-top: 40px;
	border: 1px solid #ddd;
	text-align: center
}

#greywrap p {
	margin-left: 30px;
	margin-right: 30px;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px
}

#footerwrap {
	background: #2b2b2b;
	margin-top: 0;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	text-align: center
}

h6 {
	font-family: Raleway;
	font-weight: 300;
	color: #fff
}

h2 {
	text-align: center
}

.white p {
	padding-top: 25px
}

.section-divider {
	z-index: 999;
	width: 100%;
	display: table;
	max-height: 450px;
	border-bottom: 2px solid #e6eaed;
	padding-top: 30px;
	padding-bottom: 70px;
	margin-top: 45px;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center
}

.textdivider h2 {
	font-family: Raleway;
	font-weight: 300;
	padding-top: 0;
	color: #fff;
	font-size: 40px
}

.textdivider p {
	color: #fff;
	font-size: 25px
}

.divider1 {
	background-image: url(/static/assets/backgrounds/bg2.jpg);
	padding-top: 70px;
	padding-left: 15px;
    padding-right: 15px;
}

.divider2 {
	background-image: url(/static/assets/backgrounds/bg3.jpg);
	padding-top: 110px;
	padding-bottom: 110px;
	padding-left: 15px;
    padding-right: 15px;
}

#technologie {
  padding-top: 40px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

#prouxLogo {
	margin-bottom: 50px;
	vertical-align: middle;
	transform: scale(1.1)
}

#prouxLogo path {
	fill: #fff
}

@media screen and (max-width:1050px),
screen and (max-device-width:1050px) {
	body header {
		background-attachment: scroll
	}
}

@media only screen and (min-device-width:768px) and (max-device-width :1024px) and (orientation :portrait) {
	header {
		background-attachment: scroll
	}
}

@media screen and (max-width:769px) {
	header p {
		font-size: 30px;
		line-height: 38px
	}
}