doctype html
html(lang='de')
  head
    meta(charset='utf-8')
    meta(name='description', content='Proux')
    meta(name='author', content='Nico Lindemann')
    title Proux
    link(href='assets/favicon.ico', rel='shortcut icon')
    link(href='css/style.css', rel='stylesheet')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top: .container
      ul.nav.navbar-nav
        li: a(href='#service') Service
        li: a(href='#technologie') Technologie
        li: a(href='#kontakt') Kontakt

    header
      include ../bower_components/logo/logo.svg
      p Web Consulting.
      p Web Solutions.

    #service: .container
      .row
        h2 UNSERE SERVICES
        hr
        .col-lg-offset-2.col-lg-8
          p F&uuml;r Web-Systeme beliebiger Gr&ouml;&szlig;e und Art bieten wir einen ganzheitlichen Ansatz mit unseren Angeboten. Wir stehen Ihnen bei dem Spagat zwischen Zeit, Kosten und Umfang bei der Umsetzung eines Web-Projekts stets zur Seite.

    #greywrap: .container
      .row
        .col-lg-4
          span.fa.fa-comment.fa-4x
          h2 Consulting
          p Wir beraten Sie zu jedem Aspekt eines bestehenden oder zuk&uuml;nftigen Web-Systems in beliebiger Komplexit&auml;t.

        .col-lg-4
          span.fa.fa-code.fa-4x
          h2 Development
          p Wir &uuml;bernehmen oder vermitteln die Entwicklung oder Anpassung n&ouml;tiger Software f&uuml;r Ihr Projekt mit h&ouml;chstem Qualit&auml;tsanspruch.

        .col-lg-4
          span.fa.fa-tasks.fa-4x
          h2 Infrastruktur
          p Die skalierbare und ausfallsichere Infrastruktur und ihr Betrieb bildet das Fundament, ein Web-System erfolgreich zu betreiben.

    section.section-divider.textdivider.divider1: .container
      .row
        h2 &raquo;SOFTWARE IS LIKE SEX:
        h2 IT&apos;S BETTER WHEN IT&apos;S FREE.&laquo;
        p: i Linus Torvalds
        hr
        p Wir glauben an die Open Source Idee und handeln auch nach dieser.

    #technologie: .container
      .row.white
        h2 AKTUELLE TECHNOLOGIEN
        hr
        .col-lg-4
          a(href='http://redis.io', target='_blank'): span.icon-redis.fa-4x.icon-margin
          a(href='https://nodejs.org/en/', target='_blank'): span.icon-nodejs.fa-4x.icon-margin
          a(href='https://www.java.com', target='_blank'): span.icon-java.fa-4x.icon-margin
          p Serverseitig und in Bezug auf Speicher-Fragen setzen wir aktuell prim&auml;r node.js und Java als Programmiersprache und Redis als Speicher-Engine ein.

        .col-lg-4
          a(href='https://git-scm.com/', target='_blank'): i.fa.fa-git.fa-4x.icon-margin
          a(href='https://www.docker.com/', target='_blank'): span.icon-docker.fa-4x.icon-margin
          a(href='https://nginx.org/', target='_blank'): span.icon-nginx.fa-4x.icon-margin
          p Um Infrastruktur in beliebiger Gr&ouml;&szlig;e zur Verf&uuml;gung stellen zu k&ouml;nnen, arbeiten wir mit einfachen, modernen L&ouml;sungen von git, Docker und nginx.

        .col-lg-4
          a(href='https://www.w3.org/html/', target='_blank'): i.fa.fa-html5.fa-4x.icon-margin
          a(href='https://www.w3.org/Style/CSS/', target='_blank'): i.fa.fa-css3.fa-4x.icon-margin
          a(href='https://www.w3.org/standards/webdesign/script', target='_blank'): span.icon-javascript-alt.fa-4x.icon-margin
          p Bei den sichtbaren Ergebnissen unserer Systeme setzen wir auf die modernsten Standards und haben dennoch stets die entsprechenden Zielgruppen im Blick.

    section.section-divider.textdivider.divider2: .container
      .row
        h2 AUS HAMBURG MIT <span class="fa fa-heart"></span>
        hr
        ul
          li: a.fa.fa-twitter(href='https://twitter.com/prouxnet')
          li: a.fa.fa-github(href='https://github.com/proux')
          li: a.fa.fa-css3(href='https://codepen.io/proux')
          li: a.fa.fa-facebook(href='https://www.facebook.com/proux.net')

    #kontakt: .container
      .row
        h2 KONTAKT
        hr
        .col-lg-6
          p <span class="fa fa-tag"></span> proux<sup>&reg;</sup> ug (haftungsbeschr&auml;nkt)
          p <span class="fa fa-home"></span> Hardenstra&szlig;e 38a | 20539 HH
          p <span class="fa fa-phone"></span> +49 40 2093 3981
          p <span class="fa fa-envelope"></span> <a href='mailto:info@proux.net'>info@proux.net</a>

        .col-lg-6
          p <span class="fa fa-pencil-square-o"></span> Gesch&auml;ftsf&uuml;hrer: Nico Lindemann
          p <span class="fa fa-money"></span> USt.-IdNr.: DE305787148
          p <span class="fa fa-bullhorn"></span> Handesregistereintrag: AG Hamburg HRB 138858
          p <span class="fa fa-legal"></span> Wortmarke: Nr. 30 2008 036 348

    #footerwrap: .container
      .row
        h6 &copy; Copyright <script type='text/javascript'>document.write(new Date().getFullYear())</script>
        small Theme by <a href='http://blacktie.co'>BlackTie.co</a>
